@font-face {
    font-family: Bungee;
    src: url("../fonts/Bungee-Regular.otf") format("opentype");
}
.cardImage{
    font-family: 'Bungee';
}
.cardImage>.pin {
    color: white;
    z-index: 5;
    position: absolute;
    margin-left: 248px;
    margin-top: 279px;
    letter-spacing: 46px;
    font-size: 40px;
}
.cardImage>.name {
    color: white;
    z-index: 5;
    position: absolute;
    margin-left: 183px;
    font-size: 25px;
    margin-top: 428px;
}

.cardImage>.denomination {
    color: white;
    z-index: 5;
    position: absolute;
    margin-left: 760px;
    margin-top: 96px;
    font-size: 50px;
}

.cardImage>.defaultText {
    color: white;
    z-index: 5;
    position: absolute;
    margin-left: 183px;
    margin-top: 470px;
}

.cardImage>.logo {
    color: white;
    z-index: 5;
    position: absolute;
    margin-left: 537px;
    margin-top: 414px;
}

.file {
    visibility: hidden;
    position: absolute;
}

.cardParent{
    margin-bottom: 0px;
    background-image: url("../images/template.png");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}